[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "LiteHttpd.Dev"]
	path = LiteHttpd.Dev
	url = https://github.com/LiteHttpd/LiteHttpd.Dev.git
[submodule "LiteHttpd.FileServer"]
	path = LiteHttpd.FileServer
	url = https://github.com/LiteHttpd/LiteHttpd.FileServer.git
[submodule "FastCGI"]
	path = FastCGI
	url = https://github.com/LiteHttpd/FastCGI.git
